@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f4f6f3;
  --foreground: #1a1f16;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1d211a;
    --foreground: #000000;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
